BasedOnStyle: Google---
Language: CppAllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: falseAllowShortLambdasOnASingleLine: Empty
DerivePointerAlignment: falsePointerAlignment: Left
SortIncludes: falsePackConstructorInitializers: Never
BreakConstructorInitializers: BeforeColonBreakInheritanceList: AfterComma